@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Poppins", sans-serif !important;
}

a:hover {
    text-decoration: none;
}

div[name="border-right"] {
    border: 0;
}

footer {
    color: white !important;
    background-color: #171730 !important;
}

div[name="detail-info"] img {
    width: auto;
    height: 23px;
}

div[name="detail-info"] img:nth-child(3) {
    height: 19px;
}

div[name="industry-info"] p {
    font-size: 6px;
    margin-left: -13px;
}

div[name="row-social-media"] img {
    width: auto;
    height: 25px;
}

/* ********************************************* */
div[name="more-detail"] .btn-member {
    width: 130px;
    height: auto;
    font-size: 11px;
    background-color: #519ff8;
    /* border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px; */
}

div[name="change-language"] a:active,
div[name="change-language"] a:hover {
    color: rgb(255, 224, 51) !important;
}

div[name="change-language"] a {
    color: white;
}

/* ************************************ */
div[name="term-and-condition"] p {
    padding-top: 40px;
    font-size: 12px;
    text-align: center;
}

div[name="detail-info"] img:nth-child(1) {
    height: 25px;
}
div[name="detail-info"] img:nth-child(2) {
    margin-top: -1px;
    height: 25px;
}
div[name="detail-info"] img:nth-child(3) {
    margin-top: 23px;
    height: 38px;
}
div[name="detail-info"] img:nth-child(4) {
    height: 35px;
}
div[name="detail-info"] img:nth-child(5) {
    height: 25px;
}

/* TABLET++ */
@media (min-width: 768px) {
    /* footer {
        margin-top: 50px;
    } */

    div[name="border-right"] {
        border: 1px solid white;
    }

    /* div[name="detail-info"] img {
        height: 52px;
    } */

    div[name="detail-info"] img:nth-child(1) {
        height: 35px;
    }
    div[name="detail-info"] img:nth-child(2) {
        margin-top: -8px;
        height: 38px;
    }
    div[name="detail-info"] img:nth-child(3) {
        margin-top: -18px;
        height: 58px;
    }
    div[name="detail-info"] img:nth-child(4) {
        height: 35px;
    }
    div[name="detail-info"] img:nth-child(5) {
        height: 31px;
    }

    div[name="industry-info"] p {
        font-size: 12px;
    }

    div[name="term-and-condition"] {
        margin-top: -50px;
    }
}
