
        .header {
            min-height: 650px;
            background: no-repeat center scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-position: rightl;
        }

        .color-background {
            background-image: linear-gradient(to right, #68a6fb, #f77a8b);
            min-height: 650px;
            position: relative;
            opacity: 0.6;
        }

        h1 {
            padding-top: 250px;
            padding-left: 200px;
            font-size: 60px
        }

        h4 {
            padding-left: 200px;
        }

        @media (max-width: 576px) {
            h1 {
                padding-top: 250px;
                padding-left: 70px;
                font-size: 60px
            }

            h4 {
                padding-left: 70px;
            }
        }
    