
.header {
    min-height: 30vh;
    background: no-repeat center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
    background-position: right;

}

.cabang {
    font-size: 24px;
    font-family: 'Poppins';
}

.cabang-content {
    font-size: 18px;
    font-family: 'Poppins';
}

.map-indonesia {
    min-height: 40vh;
    /* background-image: url('/img/map-indonesia.png') */
}

.search-kota {
    background-color: #221E40;
}

.btn-search {
    font-weight: 300;
    border-radius: 50px;
    margin-top: -30px;
    margin-bottom: 50px;
    font-family: 'Poppins';
}

.background-bottom {
    background-image: linear-gradient(to right, #68a6fb, #f77a8b);
    z-index: -1;
    min-height: 300px;
    margin-top: -100px;
    position: relative;
}

#butt {
    margin-top: 45px;
}

@media (max-width: 576px) {
    .cabang {
        font-size: 15px;
    }

    .cabang-content {
        font-size: 12px;
    }

    .btn-search {
        font-weight: 300;
        border-radius: 50px;
        margin-top: -30px;
        margin-bottom: 50px;
        font-size: 12px;
        font-family: 'Poppins';
    }

    .map-indonesia {
        min-height: 8vh;
        /* background-image: url('/img/map-indonesia.png') */
    }

    .background-bottom {
        background-image: linear-gradient(to right, #68a6fb, #f77a8b);
        z-index: -1;
        min-height: 200px;
        margin-top: -100px;
        position: relative;
    }
}
