@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Poppins", sans-serif !important;
}

a:hover {
    text-decoration: none;
}
.vl {
    border-left: 6px solid white;
    min-height: 54vh;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 153px;
}

.history-desc {
    margin: 20%;
}


/***************************************************/
.header {
    min-height: 20vh;
    background: no-repeat center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: rightl;
    color: #f9f9f9;
    
}

.header h2 {
    font-size: 20px;
    font-weight: 300;
    padding-top: 42px;
}

.header h1 {
    font-size: 20px;
    font-weight: bolder;
    margin-top: -10px;
}

.header-below {
    margin-top: -8px;
    color: #f9f9f9;
    background-color: #28284a;
}

.header-below .container {
    padding-left: 30px;
}

.header-below h3 {
    font-size: 14px;
    font-weight: bolder;
}

.header-below p {
    font-size: 14px;
    font-weight: 300;
}

.description p {
    line-height: 2em;
}
.history {
    margin-bottom: 200px;
}

.history .container {
    padding: 30px 35px;
    background-color: #eceff1;
}

.history .container h3 {
    color: #28284a;
    font-size: 22px;
}

.history div[name="years"] {
    min-width: 71px;
    min-height: 68px;
    color: white;
    border: 4px solid white;
}

.history div[name="years"].y-2009 {
    background-color: #ff8964;
}

.history div[name="years"].y-2010 {
    background-color: #4ccfe0;
}

.history div[name="years"].y-2015 {
    background-color: #d2df56;
}

.history div[name="years"].y-2017 {
    background-color: #748b97;
}

.history div[name="years"].y-2019 {
    background-color: #ffca28;
}

@media (min-width: 768px) {
    .header {
        min-height: 30vh;
        background: no-repeat center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: rightl;
        color: #f9f9f9;
        background-image: url("/img/happy-puppy-karaoke.png");
    }

    .header h2 {
        font-size: 40px;
    }

    .header h1 {
        font-size: 40px;
    }

    .description p {
        font-size: 20px;
        font-weight: 300;
        line-height: 2.5rem;
    }

    .header-below h3 {
        font-size: 32px;
    }

    /* ******************************** */
    .history .container {
        padding: 60px 75px;
    }

    .history .container h3 {
        color: #28284a;
        font-size: 24px;
    }

    .history .brand {
        margin-bottom: 40px;
    }

    .history div[name="years"] {
        width: 130px;
        height: 130px;
        border: 4px solid white;
    }
}
@media (max-width:600px) {
    .vl {
        border-left: 6px solid white;
        min-height: 5vh;
        position: absolute;
        left: 50%;
        margin-left: -3px;
        top: 110;
    }

    .history div[name="years"] h4 {
        font-size: 13px;
    }

    .history-desc {
        font-size: 7px;
        overflow-wrap: anywhere;
    }
}
