@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Poppins", sans-serif !important;
}

a:hover {
    text-decoration: none;
}

/***************************************************/
.header {
    min-height: 20vh;
    background: no-repeat center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: rightl;
    color: #f9f9f9;
    background-image: url("/img/happy-puppy-karaoke.png");
}

.header h2 {
    font-size: 30px;
    font-weight: 300;
    padding-top: 180px;
}

.header h1 {
    font-size: 20px;
    font-weight: bolder;
    margin-top: -15px;
}

.header-below {
    margin-top: -8px;
    color: #f9f9f9;
    background-color: #28284a;
}

.header-below .container {
    padding-left: 30px;
}

.header-below h3 {
    font-size: 17px;
    font-weight: bolder;
}

.header-below p {
    font-weight: 300;
}

.description p {
    font-size: 16px;
    font-weight: 300;
    line-height: 2.5rem;
}
.history {
    margin-bottom: 200px;
}

.history .container {
    padding: 30px 35px;
    background-color: #eceff1;
}

.history .container h3 {
    color: #28284a;
    font-size: 22px;
}

.history div[name="years"] {
    width: 110px;
    height: 78px;
    color: white;
    border: 4px solid white;
}

.history div[name="years"].y-2009 {
    background-color: #ff8964;
}

.history div[name="years"].y-2010 {
    background-color: #4ccfe0;
}

.history div[name="years"].y-2015 {
    background-color: #d2df56;
}

.history div[name="years"].y-2017 {
    background-color: #748b97;
}

.history div[name="years"].y-2019 {
    background-color: #ffca28;
}

@media (min-width: 768px) {
    .header {
        height: 350px;
    }

    .header h2 {
        font-size: 58px;
        padding-top: 180px;
    }

    .header h1 {
        font-size: 64px;
    }

    .header-below h3 {
        font-size: 32px;
    }

    /* ******************************** */
    .history .container {
        padding: 60px 75px;
    }

    .history .container h3 {
        color: #28284a;
        font-size: 24px;
    }

    .history .brand {
        margin-bottom: 40px;
    }

    .history div[name="years"] {
        width: 130px;
        height: 130px;
        border: 4px solid white;
    }
}
